<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>На станции: </strong>
  <% if @train.current_station.present? %>
   <%= @train.current_station.title %>
   <% else %>
    Не указано
   <% end %>
</p>
<p>
  <strong>Назначенный маршрут:</strong>
  <% if @train.route.present? %>
   <%= @train.route.name %>
   <% else %>
    Маршрут не назначен
   <% end %>
</p>

<% if @train.carriages.empty? %>
<p> К поезду не присоединены вагоны </p>
<% else %>
  <p>
    <strong>Плацкартных вагонов присоединено:</strong>
    <%= @train.carriage_count('Плацкарт') %>
  </p>

  <p>
    <strong>Купейных вагонов присоединено:</strong>
    <%= @train.carriage_count('Купе') %>
  </p>

  <p>
    <strong>Верхних плацкартных мест:</strong>
    <%= @train.seats_count('Плацкарт', 'upper_seats') %>
  </p>

  <p>
    <strong>Нижних плацкартных мест:</strong>
    <%= @train.seats_count('Плацкарт', 'lower_seats') %>
  </p>

  <p>
    <strong>Верхних купейных мест:</strong>
    <%= @train.seats_count('Купе', 'upper_seats') %>
  </p>

  <p>
    <strong>Нижних купейных мест:</strong>
    <%= @train.seats_count('Купе', 'lower_seats') %>
  </p>
<% end %>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
