<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>На станции: </strong>
  <% if @train.current_station.present? %>
   <%= @train.current_station.title %>
   <% else %>
    Не указано
   <% end %>
</p>
<p>
  <strong>Назначенный маршрут:</strong>
  <% if @train.route.present? %>
   <%= @train.route.name %>
   <% else %>
    Маршрут не назначен
   <% end %>
</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
