<p id="notice"><%= notice %></p>

<p>
  <strong>Название маршрута: </strong>
  <%= @route.name %>
</p>

<p>
  <strong> Описание: </strong></br>
  <%= @route.description %>
</p>

<%= link_to 'Редактировать', edit_route_path(@route) %>
<%= link_to 'Назад', routes_path %>
