<%= form_for([:admin, train]) do |f| %>

  <%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :current_station %>
    <%= f.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :current_station %>
    <%= f.collection_select :route_id, Route.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit t('.submit', action: train.new_record? ? "Создать" : "Изменить") %>
  </div>

  <div class="field">
    <%= f.label :carriage_sort_order %>
    <%= f.check_box :carriage_sort_order %>
  </div>

<% end %>
